{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "stryker": {
            "badge": "master"
        },
        "text": "infection\/infection.log",
        "html": "infection\/infection.html"
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*"
        ],
        "@default": true,
        "DecrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*",
                "throw new.*"
            ]
        },
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*",
                "throw new.*"
            ]
        }
    },
    "minMsi": 90,
    "minCoveredMsi": 95
}
